#map
{
  width: 80vw;
  height: 97vh;
  border-style: solid;
  border-color: black;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#control {
  background-color: #2D3E50;
  top:0px;
  position: absolute;
  right:0px;
  height: 100vh;
  width:18vw;
  text-align: center;
}

#menuHeading {
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: 'Exo', sans-serif;
}

p {
  font-family: 'Exo', sans-serif;
  color: white;
}

.btn {
  background-color:#19BE96;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #19BE96;
  display:inline;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Exo', sans-serif;
  font-size:17px;
  padding:10px 31px;
  text-decoration:none;
  margin-top: 15px;
}

.dl-btn {
  background-color:#19BE96;
  border-radius:8px;
  border:1px solid #19BE96;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  color:#ffffff;

}

.btn:hover {
  border: 2px solid white;
}

.btn-search {
  background-color: #107c61;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #19BE96;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Exo', sans-serif;
  font-size:17px;
  padding:10px 31px;
  text-decoration:none;
  margin-top: 15px;
}

.btn-search:hover {
  border: 2px solid white;
}

#ward_name {
  height: 30px;
  width:180px;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  overflow: scroll;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
